.appLogo{
    position: absolute;
    left: 20%;
    right: 16%;
    top: 6%;
    bottom: 89%;
    margin: 0 auto;
}
.userImage{
    position: absolute;
    left: 43%;
    right: 40%;
    top: 16%;
    bottom: 75%;
    background: #FFFFFF;
}
.userWelcomeDetails{
    position: absolute;
    left: 40%;
    top: 26.37%;
    bottom: 69.73%;
}

.userWelcome {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    align-items: center;
    text-align: center;
}
.userDays{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}
.sideBarMenu{
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    bottom: 43%;
    padding: 0;
}
.sideBarMenu ul{
    list-style: none;
    cursor: pointer;
}
.sideBarMenuItem{
    padding: 0;
}
.sideBarMenuItem li{
    position: relative;
    cursor: pointer;
    /*left: 30%;*/
    /*right: 2%;*/
    /*top: 41.8%;*/
    /*bottom: 56.25%;*/
    padding: 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
}
